<main class="lista-vacantes">
    <h2>Navegaciones</h2>
    <div class="botones separador">
        <a href="/profile-edition" class="btn btn-azul">Editar perfil</a>
        <a href="/vacancies/new" class="btn btn-verde">Nueva vacante</a>
    </div>
</main>