<main class="contenedor">
    <h1>RESETEAR CONTRASEÑA</h1>
    <form action="/usersAccount/session-init" method="POST" class="default-form">
        <div class="campo">
            <label>E-mail</label>
            <input type="email" name="email" placeholder="Tu email" required>
        </div>
        <div class="campo">
            <label>Password</label>
            <input type="password" name="password" placeholder="Tu password" required>
        </div>
        <div class="campo acciones">
            <a href="/usersAccount/creation-account">Crear una cuenta nueva</a>
            <a href="/usersAccount/reset-password">Olvide mi contraseña</a>
        </div>
    </form>
</main>